{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}
{% block content %}
<h1>Inicio</h1>

{% if request.user.is_authenticated %}
<h2>Diplomaturas</h2>
<div class="grid">
  {% for d in diplomaturas %}
    <div class="card">
      <h3>{{ d.nombre }}</h3>
      <p><small>Código: {{ d.codigo }}</small></p>
      <ul>
        {% for m in d.materias.all %}
          <li>
            {{ m.nombre }}
            {% if request.user.is_authenticated %}
              — <a href="{% url 'asistencias:ver_clases' m.id %}">ver clases</a>
            {% endif %}
          </li>
        {% empty %}
          <li><em>Sin materias</em></li>
        {% endfor %}
      </ul>
    </div>
  {% empty %}
    <p>No hay diplomaturas cargadas.</p>
  {% endfor %}
</div>
  <div class="actions">
    <a class="btn" href="{% url 'asistencias:perfil' %}">Mi perfil</a>
    <a class="btn" href="{% url 'asistencias:usar_token' %}">Usar token</a>
    {% if request.user.nivel|default:1 >= 2 %}
      <a class="btn" href="{% url 'asistencias:crear_materia' %}">+ Materia</a>
    {% endif %}
       {# Solo nivel 3+ #}
    {% if request.user.nivel|default:1 >= 3 %}
      <a class="btn" href="{% url 'asistencias:crear_diplomatura' %}">+ Diplomatura</a>
    {% endif %}
  </div>
{% else %}
  <p>Ingresá o registrate para inscribirte a diplomaturas y materias.</p>
{% endif %}


{% endblock %}
